---
pagination:
  data: theoryCollections
  size: 1
  alias: dir
permalink: "/{{ dir.url }}/index.html"
layout: default
eleventyComputed:
  title: "{{ dir.title }}"
---

<h1>{{ dir.title }}</h1>
<ul>
  {% for file in dir.files %}
    <li><a href="/{{ dir.url }}/{{ file | url_encode }}">{{ file.replace('.md','') }}</a></li>
  {% endfor %}
</ul>
